#設定参考　https://tech.actindi.net/2019/10/11/090521

# アクション名
name: lint, typecheck, test

# タイミングを指定
on:
  pull_request:
    branches:
      - develop

jobs:
  lint-typecheck-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - uses: actions/setup-node@v2
        with:
          node-version: '14.18.1'
          cache: yarn

      - run: yarn
      - run: yarn lint
      - run: yarn test
